main {
  max-width: 960px;
  margin: 0 auto;
}

/* Estilo general para cada sección (cuadro blanco) */
.empresa, .mission, .vision, .objectives {
  background-color: var(--bg-100);
  padding: 20px 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Centrar títulos */
h1, h2, h3 {
  text-align: center;
  color: var(--primary-100);
  margin-top: 0;
}

h1{
  margin-top: 40px;
  font-size: 2rem;
  color: var(--text-200);
}

p {
  text-align: justify;
  font-size: 1rem;
  color: var(--text-100);
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  color: var(--text-100);
}

ul li {
  margin-bottom: 8px;
}

main img {
  display: block;
  margin: 0 auto;
}