
/*poco diseño del body por el color de fondo*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #38618C; 
}

/*diseño para todo lo que va dentro del main (el contenido principal)*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1;
  }

/*diseño de la barra de navegacion*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5DA399; 
  padding: 10px 20px;
}

.navbar img.logo {
  height: 45px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #000000;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #090C9B;
}

.profile-icon img {
    width: 32px;       
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }







  /*todo el diseño del footer*/

  .footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-top: 1px solid #ccc;
  }
  
  .logo-footer {
    height: 35px;
  }
  
  .footer-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  