html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-200);
}

/* Contenedor principal del formulario todo azul*/
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Estilo del formulario*/
.page-form {
  background-color: var(--bg-100);
  padding: 30px 30px; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.logo {
  display: block;
  margin: 0 auto 30px auto;
  max-width: 150px;
  height: auto;
}

/* Título del formulario */
.form-title {
  margin: 10px 0 30px 0;
  color: var(--text-100);
  text-align: center;
}

/* Cuadros del formulario */
.page-form input {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--accent-200);
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box; 
}

/* Botón de envío */
.page-form button {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  margin: 15px auto 15px auto;

}

/* Letras debajo del formulario*/
.page-link {
  display: block;

  text-align: center;
  color: var(--accent-100);
  font-size: 0.95rem;
  text-decoration: none;
}

.page-link:hover {
  text-decoration: underline;
}

.page-link-volver {
  margin-top: 10px; /* Puedes ajustar la separación según tu preferencia */
}
